<!DOCTYPE html>   
<html lang="en">   
<head>   
<meta charset="utf-8">   
<title>Tarams Quora</title>   
<meta name="description" content="Twitter Bootstrap Version2.0 inline form layout example from w3resource.com.">   
<link href="/media/twitter-bootstrap-37d0a30/docs/assets/css/bootstrap.css" rel="stylesheet">  
<style>

.bsize {

 height:40px;
 width:220px;
 background: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(blue));
 }  
 
 .bgimage {
   height:550px;
   width:600px;
  }
  
 .loginpart {
 
  margin-top:24px;
  } 
  
  .submit-button { margin-top:-10px; margin-left:10px}
 
</style>
</head>  
<body>  

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
            <img class="bgimage" src="/media/qhome.jpeg" >
            </div>
            <div class="span6 loginpart">
             
             <h4> Please set your password </h4><hr>
                    <form action = "{% url 'quora.views.setpass' %}" method = "POST">
                    <table>
                    <tr><td>  
                        <span class="set-password-span">Email id</span></td><td><input class="set-password-input" type= "text" value = "{{ request.user.email }}" name = "username"></td></tr>
                       <tr><td><span class="set-password-span">Password</span></td><td><input class="set-password-input" type = "password" value = "" name = "password"></td><td><input class="btn btn-primary submit-button" type = "submit" value= "submit"></td></tr>
                       </table>
                        
                    </form>
           </div>
        </div>
    </div>   
</body>  
</html>
                
                
                
               
 
                
   



